@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');

:root {
  --color-primary: #B4CDED;
  --color-secondary: #B4CDED;
}

body {
  font-family: 'Crimson Text', serif;
}

@tailwind base;